<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.jpg" type="image/jpg">
    <script type="text/javascript" src="../../app.js"></script>
    <title>View Trips | Logitech Express</title>
</head>
<body>
    <div class="navbar">
        <a class="option" href="../index.html">Home</a>
        <a class="option">View Booked Trips</a>
    </div>
    <h1 class = "viewTrips">View Trips</h1>
    <br>
    <table class="view-trips">
        <thead>
            <th>Trip ID</th>
            <th>Bus Liner</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Seats Available</th>
            <th>Date of Departure</th>
            <th>Fare</th>
        </thead>
        <tbody>
        <% trips.forEach(function(value) { %>
            <tr>
                <td><%= value.trip_id %></td>
                <td><%= value.bus_line %></td>
                <td><%= value.origin %></td>
                <td><%= value.destination %></td>
                <td><%= value.seats_available %></td>
                <td><%= value.date %></td>
                <td>₱<%= value.fare %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</body>
</html>