<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details | Logitech Express</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.jpg" type="image/jpg">
    <script src="../../app.js"></script>
</head>
<body style="background-image: url(images/login.jpg);">
    <div class = "content-panel">
        <h1 class = "viewDetails">TRIP DETAILS</h1>
            <div class = "content-details">
                <% selected.forEach(function(value) { %>
                <p><b>Bus line:</B> <%= value.bus_line %></p>
                <p><b>From:</B> <%= value.origin %></p>
                <p><b>To:</B> <%= value.destination %></p>
                <% var c = (value.date).split(/[- :]/) %>
                <p><b>Date and Time of Departure:</B> <%= c[1] %>/<%= c[2] %>/<%= c[0] %> <%= c[3] %>:<%= c[4] %></p>
                <p><b>Fare (per head):</B> <%= value.fare %></p>
                <form action="/book" method="POST">
                    <input type="text" name="id" value="<%= value.trip_id %>" style="display: none;">
                    <input type="number" name="seatNo" class="seat">
                    <button class = "reserveButton" type="submit">Book Now!</button>
                </form>
                <% }) %>
            </div>
    </div>
</div>
</body>
</html>